body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}


.bg, .bg2, .bg3 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg3 {
    z-index: -3;
    background-color: #fafafa;
    /* background-image: url(./images/night_mountain.jpg); */
    background-position: 0% 0%;
    opacity: 0.9;
}

.bg {
    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background-color: #226dbc;

}

.bg2 {
    z-index: -2;
    background-color: #2a5f98;
    -webkit-clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
    clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);

}

.container {
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
}

ul {
    list-style-type: none;
    perspective: 1000px;

}

ul li {
    display: grid;
    grid-template-columns: 20% auto;
    border-radius: 10px;
    /* border: 5px solid; */
    padding: 15px;
    cursor: pointer;
    transform: rotateY(-30deg) rotateX(15deg);
    /* transform: rotateY(-0deg) rotateX(0deg); */
    position: absolute;
    border-bottom: 4px sold rgba(0,0,0,.2);
    mix-blend-mode: multiply;
    opacity: 0.7;
}

ul li:nth-child(1) {
    background: #bfe8fc;
    border-color: #81bddb;
    top: -100px;
    z-index: 2;
}

ul li:nth-child(2) {
    background: #faffc8;
    border-color: #dae281;
    z-index: 1;
}

ul li:nth-child(3) {
    background: rgb(242, 228, 255);
    border-color: rgb(207, 179, 233);
    top: 100px;
    z-index: 0;
}

ul li:hover {
    transform: rotateY(-22deg) rotateX(7deg) scale(1.03);
    /* transform: rotateY(-0deg) rotateX(0deg) scale(1.03); */
    transition: transform .4s ease-out;
    z-index: 3;
    mix-blend-mode: normal;
    opacity: 0.9;
}

img {
    width: 70px;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}

#left > p {
    color: rgb(0, 0, 0);
    line-height: 1.5em; 
}

/* #left {
    border-radius: 10px;
    border: 5px solid;
    background-color: #000000;
    padding:25px;
    
    opacity: 0.5;
} */